In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("amazon_data.csv", index_col=False)

title1 = data.loc[data["Title"] == "Make a Wish (Holiday Greetings Cards)"]
title2 = data.loc[data["Title"] == "The Man Who Sold the World"]
title3 = data.loc[data["Title"] == "The Three Stooges - Spook Louder"]
title4 = data.loc[data["Title"] == "True Grits : The Southern Foods Mail-Order Catalog "]
title5 = data.loc[data["Title"] == "Quick Toning: Thighs of Steel "]
title6 = data.loc[data["Title"] == "Simply Red - Live in London"]
title7 = data.loc[data["Title"] == "The Kama Sutra of Vatsyayana"]

In [8]:
data["Title"].value_counts()

Make a Wish (Holiday Greetings Cards)                                                 4809
The Man Who Sold the World                                                            4353
The Three Stooges - Spook Louder                                                      3895
True Grits : The Southern Foods Mail-Order Catalog                                    3565
Quick Toning: Thighs of Steel                                                         1213
                                                                                      ...
Elements of Logic via Numbers and Sets (Springer Undergraduate Mathematics Series)       1
Interpretive Interactionism (Applied Social Research Methods)                            1
Ten Strategies for Successful Contract Negotiations                                      1
Baby's World: Look At Me I Can Play (Baby's World)                                       1
Thomas and the Hide-and-seek Animals (A Thomas the Tank Engine Flap Book)                1
Name: Title, Length: 30028, dtype: int64

In [9]:
title7

,Unnamed: 0,Group,Title,Id,Ratings,index
476708,476708,Book,The Kama Sutra of Vatsyayana,A2229ENXMRMMJ0,3,476708
476709,476709,Book,The Kama Sutra of Vatsyayana,AUTBHG6070SL4,5,476709
476710,476710,Book,The Kama Sutra of Vatsyayana,A1691IW4UG8Y0F,5,476710
476711,476711,Book,The Kama Sutra of Vatsyayana,A8DAA08S4H723,3,476711
476712,476712,Book,The Kama Sutra of Vatsyayana,A3N0K4EMFLX22,3,476712
...,...,...,...,...,...,...
477762,477762,Video,The Kama Sutra of Vatsyayana,A3FNM6LQ7VEKWH,4,477762
477763,477763,Book,The Kama Sutra of Vatsyayana,A99TI3YYINHG8,5,477763
477764,477764,Music,The Kama Sutra of Vatsyayana,A5DRP3IN5B9GU,5,477764
477765,477765,Book,The Kama Sutra of Vatsyayana,A3P1A63Q8L32C5,4,477765
477766,477766,Book,The Kama Sutra of Vatsyayana,A31HCF8SGXQJR0,4,477766

In [11]:
x = np.asarray([0.0, 0, 1])
print(np.nonzero(x))

(array([2]),)